
/* Font Styles */
h1,
h2,
h3,
h4,
h5{
    font-family: 'Mukta', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
    line-height: 1.9rem;
}

/* Global Styles */

.padding {
    padding-top: 6rem;
    padding-bottom: 4rem;

}

a:hover {
    text-decoration: none;
}

/* NavBar Styles */

#navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
    font-size: .8rem;
    
  }
  #navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none;
    margin: auto;
  }
  #navbar-primary .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
  }

  .fa {
      padding-right: ;
  }
  

  /* Carousel Styles */

  .carousel-inner img {}

  .carousel-slide {
      height: 50rem;
  }

  .hero {
      background-image: url("");
      background-size: cover;
      height: 50vh;
      color: #fff;
      
  }

  .jumbotron .container {
      margin-top: 5rem;
  }

  /* Accordian Styling */

  #accordian {
      
    
  }
  
  .card-header h5 {
    color: #68829E;
  }
  
  .card-header:not(.collapsed) {
      background: #fff;
      border: none;
  }


  /* About Section */

  .about p {
      padding-top: 3rem;
  }

  .stats {
      padding-top: 8rem;
  }


  /* News */

  .news {
      padding-top: 4rem;
  }

  .newsContent {
      padding-top: 3.5rem;
  }

  .newsContent .subTitle {
      padding-bottom: 3rem;
  }
  

  /* Footer Styles */
  .footer {
    position: absolute;
    margin-top: 5rem;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}