/* van's stylesheet starts here  */
.modal-lg {
    max-width: 50% !important;
}
.newh1 {
    font-family: "Mukta", sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.card-title {
    font-size: 20px;
}
.newh4 {
    font-size: 30px;

}
newh5 {
   
    font-size: 26px;
}

.card-header .newh4{
    font-family: "Mukta", sans-serif;
    font-size: 20px;
}



.modal-title{
    text-align: center;
}
.description{
width: 100%;
padding-left: 20%;
padding-right: 20%;
padding-top: 5%;
padding-bottom: 5%;
}
.description p {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-align: justify;
}
.hero,
  .mountains {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    color: #fff;
      
  }
  .hero .container {
      /* background-color: blueviolet; */
      margin-top: 5%;
  }
.card .card-body .card-header {
    background-color: #505160;
    width: 100%;
    color: white;
}

/* van's stylesheet ends */